/*----------     Estilos Generales del Proyecto     ----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----------     Header     ----------*/
header {
  background: linear-gradient(rgb(0, 0, 15), rgb(7, 1, 83));
}
header img {
  width: 50px;
  margin: 10px;
  padding: 5px;
}
header .logo {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: "Russo One", sans-serif;
}
@media screen and (max-width: 450px) {
  header .logo {
    visibility: hidden;
  }
}
header .logo:hover {
  color: rgb(255, 255, 255);
}
header li {
  margin: 0px 20px;
  font-weight: 600;
}
header li a {
  color: white;
  text-decoration: none;
}
header li a:hover {
  color: grey;
}

/*----------     Footer     ----------*/
footer {
  background: linear-gradient(rgb(0, 0, 15), rgb(7, 1, 83));
  height: 350px;
}
footer .footer-media-queries .tittle-div {
  background-color: rgb(0, 79, 182);
  margin: 30px 0px;
}
footer .footer-media-queries .tittle-div p {
  font-family: "Russo One", sans-serif;
  font-size: 19px;
  color: white;
  margin-left: 20px;
  text-align: left;
}
footer .footer-media-queries p {
  text-align: left;
  color: white;
}
@media screen and (max-width: 450px) {
  footer .footer-media-queries p {
    margin-left: 5px;
  }
}
footer .footer-media-queries a {
  display: block;
  text-decoration: none;
  text-align: left;
  font-family: "Russo One", sans-serif;
  font-size: 15px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 450px) {
  footer .footer-media-queries a {
    margin-left: 5px;
  }
}
footer .footer-media-queries iframe {
  position: relative;
  height: 200px;
  width: 100%;
}
@media screen and (max-width: 450px) {
  footer .footer-media-queries iframe {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 450px) {
  footer .footer-media-queries {
    display: inline-block;
  }
}
@media screen and (max-width: 450px) {
  footer {
    height: auto;
  }
}

/*----------     Index     ----------*/
.section1 {
  height: 450px;
}
.section1 .image-car {
  height: 450px;
}
.section1 .image-car img {
  filter: brightness(40%);
}
@media screen and (max-width: 450px) {
  .section1 .image-car img {
    height: 200px;
    object-fit: cover;
  }
}
.section1 .image-car .text-car {
  text-align: center;
  top: 2.5cm;
}
.section1 .image-car .text-car-2 {
  top: 2.8cm;
  text-align: left;
}
.section1 .image-car .info1-slider {
  font-family: "Russo One", sans-serif;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
}
.section1 .image-car .info2-slider {
  margin-top: 30px;
  font-family: "Russo One", sans-serif;
  font-size: 15px;
}
.section1 .image-car .but-slid {
  padding: 10px 50px;
  margin: 10px;
  font-family: "Russo One", sans-serif;
  background-color: rgb(0, 28, 112);
  border-color: rgba(255, 255, 255, 0.1843137255);
}
.section1 .image-car .but-slid:hover {
  background-color: black;
}
@media screen and (max-width: 450px) {
  .section1 .image-car {
    height: auto;
  }
}
@media screen and (max-width: 450px) {
  .section1 {
    height: auto;
  }
}

.section2 {
  background-color: rgb(255, 255, 255);
  height: 250px;
  text-align: center;
}
.section2 .marks {
  position: relative;
  top: 25px;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-family: "Russo One", sans-serif;
}

.section3 {
  width: 100%;
  height: 420px;
  background-color: rgb(49, 49, 49);
}
.section3 .row3-queries .box {
  width: 95%;
  height: 300px;
  margin-top: 60px;
  object-fit: cover;
  box-shadow: 0px 0px 30px 5px rgb(20, 20, 20);
  filter: brightness(50%);
}
@media screen and (max-width: 450px) {
  .section3 .row3-queries .box {
    margin-top: 10px;
    margin-bottom: -120px;
  }
}
.section3 .row3-queries .inf-box {
  position: relative;
  bottom: 230px;
  color: aliceblue;
  padding: 40px;
  font-family: "Russo One", sans-serif;
}
@media screen and (max-width: 450px) {
  .section3 .row3-queries .inf-box {
    bottom: 150px;
  }
}
.section3 .row3-queries .bloq-s3 {
  position: relative;
  padding: 10px 50px;
  bottom: 200px;
  box-shadow: 0px 0px 0px 2px white;
  color: aliceblue;
  font-family: "Russo One", sans-serif;
  text-decoration: none;
}
@media screen and (max-width: 450px) {
  .section3 .row3-queries .bloq-s3 {
    bottom: 100px;
  }
}
.section3 .row3-queries .bloq-s3:hover {
  background-color: rgb(13, 13, 70);
}
@media screen and (max-width: 450px) {
  .section3 .row3-queries {
    display: inline-block;
    margin-top: 30px;
  }
}
@media screen and (max-width: 450px) {
  .section3 {
    height: auto;
  }
}

.section4 {
  width: 100%;
  height: 350px;
  background-color: rgb(226, 225, 225);
}
.section4 .row4-queries .tit1 {
  margin-top: 75px;
  font-size: 25px;
  font-family: "Russo One", sans-serif;
  text-align: left;
}
@media screen and (max-width: 450px) {
  .section4 .row4-queries .tit1 {
    margin-top: 30px;
    text-align: center;
  }
}
.section4 .row4-queries .tit2 {
  margin-top: 40px;
  font-size: 17px;
  text-align: left;
  font-family: "Russo One", sans-serif;
}
@media screen and (max-width: 450px) {
  .section4 .row4-queries .tit2 {
    text-align: center;
  }
}
.section4 .row4-queries .tit3 {
  margin-top: 20px;
  font-size: 17px;
  font-family: "Russo One", sans-serif;
  text-align: left;
}
@media screen and (max-width: 450px) {
  .section4 .row4-queries .tit3 {
    text-align: center;
  }
}
.section4 .row4-queries .cod-QR {
  margin-top: 50px;
  width: 150px;
  padding: 5px;
  background-color: rgb(94, 94, 94);
}
@media screen and (max-width: 450px) {
  .section4 .row4-queries .cod-QR {
    margin-top: 20px;
  }
}
.section4 .row4-queries .icons-tarj {
  margin-top: 10px;
  width: 100%;
  height: 90px;
  display: block;
}
@media screen and (max-width: 450px) {
  .section4 .row4-queries .icons-tarj {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 450px) {
  .section4 .row4-queries {
    display: inline-block;
  }
}
@media screen and (max-width: 450px) {
  .section4 {
    height: auto;
  }
}

/*----------     Servicios tecnicos     ----------*/
.serv-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 420px 400px 180px 400px;
  grid-template-areas: "info-grid info-grid info-grid" "caja caja caja" "info-grid2 info-grid2 info-grid2" "caja2 caja2 caja2";
}
.serv-section .info-serv {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imagenes/fondo.jpg);
  background-size: cover;
  background-attachment: fixed;
  grid-area: info-grid;
  text-align: center;
}
.serv-section .info-serv .tittle-serv {
  font-family: "Russo One", sans-serif;
  font-size: 28px;
  margin-top: 30px;
  color: white;
}
.serv-section .info-serv .text-serv {
  line-height: 30px;
  margin: 10%;
  margin-top: 30px;
  font-size: 15px;
  font-weight: 600;
  color: white;
}
.serv-section .caj-serv {
  background: linear-gradient(rgb(0, 0, 51), rgb(70, 70, 70));
  grid-area: caja;
}
.serv-section .caj-serv .row4-queries .box4 {
  width: 95%;
  height: 300px;
  margin-top: 50px;
  object-fit: cover;
  box-shadow: 0px 0px 30px 5px rgb(20, 20, 20);
  filter: brightness(50%);
}
@media screen and (max-width: 450px) {
  .serv-section .caj-serv .row4-queries .box4 {
    margin-top: 10px;
    margin-bottom: -120px;
  }
}
.serv-section .caj-serv .row4-queries .inf-box4 {
  position: relative;
  bottom: 230px;
  color: aliceblue;
  padding: 40px;
  font-family: "Russo One", sans-serif;
}
@media screen and (max-width: 450px) {
  .serv-section .caj-serv .row4-queries .inf-box4 {
    bottom: 150px;
  }
}
.serv-section .caj-serv .row4-queries .bloq-s4 {
  position: relative;
  padding: 10px 50px;
  bottom: 200px;
  box-shadow: 0px 0px 0px 2px white;
  color: aliceblue;
  font-family: "Russo One", sans-serif;
  text-decoration: none;
}
@media screen and (max-width: 450px) {
  .serv-section .caj-serv .row4-queries .bloq-s4 {
    bottom: 100px;
  }
}
.serv-section .caj-serv .row4-queries .bloq-s4:hover {
  background-color: rgb(13, 13, 70);
}
@media screen and (max-width: 450px) {
  .serv-section .caj-serv .row4-queries {
    display: inline-block;
    margin-top: 30px;
  }
}
.serv-section .info-serv-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imagenes/fondo.jpg);
  background-size: cover;
  background-attachment: fixed;
  grid-area: info-grid2;
  text-align: center;
}
.serv-section .info-serv-2 .text-serv {
  line-height: 30px;
  margin: 10%;
  margin-top: 30px;
  font-size: 15px;
  font-weight: 600;
  color: white;
}
.serv-section .caj-serv-2 {
  background: linear-gradient(rgb(0, 0, 51), rgb(70, 70, 70));
  grid-area: caja2;
  display: flex;
  justify-content: space-around;
}
.serv-section .caj-serv-2 .row4-queries .box4 {
  width: 95%;
  height: 300px;
  margin-top: 50px;
  object-fit: cover;
  box-shadow: 0px 0px 30px 5px rgb(20, 20, 20);
  filter: brightness(50%);
}
@media screen and (max-width: 450px) {
  .serv-section .caj-serv-2 .row4-queries .box4 {
    margin-top: 10px;
    margin-bottom: -120px;
  }
}
.serv-section .caj-serv-2 .row4-queries .inf-box4 {
  position: relative;
  bottom: 230px;
  color: aliceblue;
  padding: 40px;
  font-family: "Russo One", sans-serif;
}
@media screen and (max-width: 450px) {
  .serv-section .caj-serv-2 .row4-queries .inf-box4 {
    bottom: 150px;
  }
}
.serv-section .caj-serv-2 .row4-queries .bloq-s4 {
  position: relative;
  padding: 10px 50px;
  bottom: 200px;
  box-shadow: 0px 0px 0px 2px white;
  color: aliceblue;
  font-family: "Russo One", sans-serif;
  text-decoration: none;
}
@media screen and (max-width: 450px) {
  .serv-section .caj-serv-2 .row4-queries .bloq-s4 {
    bottom: 100px;
  }
}
.serv-section .caj-serv-2 .row4-queries .bloq-s4:hover {
  background-color: rgb(13, 13, 70);
}
@media screen and (max-width: 450px) {
  .serv-section .caj-serv-2 .row4-queries {
    display: inline-block;
    margin-top: 30px;
  }
}
@media screen and (max-width: 450px) {
  .serv-section {
    grid-template-rows: auto;
  }
}

/*----------     Ofertas     ----------*/
.section-car {
  height: 100px;
  background-color: #636363;
}
.section-car .d-car-s {
  text-align: right;
  position: relative;
  top: 35px;
}
.section-car .d-car-s .buttom-car-s {
  background-color: #c0c0c0;
  text-decoration: none;
  padding: 10px 50px;
  box-shadow: 0px 0px 0px 2px rgb(10, 10, 10);
  font-size: 18px;
}
.section-car .d-car-s .buttom-car-s:hover {
  box-shadow: 0px 0px 0px 2px rgb(131, 131, 131);
}

.section-prod {
  height: 650px;
}
.section-prod .row-ofert .div-cards {
  padding: 20px;
}
.section-prod .row-ofert .div-cards .sec-oferts {
  margin-top: 30px;
  width: 100%;
  text-align: left;
}
@media screen and (max-width: 450px) {
  .section-prod .row-ofert {
    display: block;
  }
}
@media screen and (max-width: 450px) {
  .section-prod {
    height: auto;
  }
}

/*----------     Registro     ----------*/
.form-register {
  width: 1000px;
  background-color: rgb(5, 0, 49);
  padding: 40px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 4px;
  font-family: "Calibri";
  color: white;
  box-shadow: 7px 13px 37px #000;
}
.form-register h1 {
  font-size: 25px;
  margin-bottom: 30px;
  margin-left: 60px;
}
@media screen and (max-width: 450px) {
  .form-register h1 {
    font-size: 21px;
    margin-left: 0px;
  }
}
.form-register .controls {
  width: 40%;
  background-color: rgb(5, 0, 59);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-left: 60px;
  border: 1px solid blue;
  font-family: "Calibri";
  font-size: 15px;
}
@media screen and (max-width: 450px) {
  .form-register .controls {
    width: 100%;
    margin-left: 0px;
    font-size: 13px;
  }
}
.form-register .botons {
  width: 40%;
  background-color: rgb(24, 0, 133);
  border: 1px solid rgb(192, 192, 192);
  padding: 12px;
  margin-left: 60px;
  color: white;
}
@media screen and (max-width: 450px) {
  .form-register .botons {
    width: 100%;
    margin-left: 0px;
    padding: 5px;
    margin-bottom: 10px;
  }
}
.form-register .botons:hover {
  background-color: rgb(87, 86, 86);
}
@media screen and (max-width: 450px) {
  .form-register {
    width: auto;
    margin: 30px;
  }
}

/*----------     Atencion al cliente     ----------*/
.at-seccion {
  width: 100%;
  background-color: black;
  color: white;
  padding: 50px;
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.at-seccion2 {
  padding: 100px;
  width: 100%;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
