* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----------     PAGINA DE INICIO     ----------*/

.header-container {
  background: linear-gradient(rgb(0, 0, 15), rgb(7, 1, 83));
}

.iconsheader {
  width: 50px;
  margin: 10px;
  padding: 5px
}

.logo {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: 'Russo One', sans-serif;
}

.logo:hover {
  color: rgb(255, 255, 255);
}

.links-header {
  margin: 0px 20px;
  font-weight: 600;
}

.links-color {
  color: white;
  text-decoration: none;
}

.links-color:hover {
  color: grey;
}

.active {
  color: grey;
}

.image-car {
  height: 350px;
  object-fit: cover;
}

.text-car {
  text-align: center;
  top: 2cm;
}

.text-car-2 {
  top: 2cm;
  text-align: left;
}

.info1-slider {
  font-family: 'Russo One', sans-serif;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
}

.info2-slider {
  margin-top: 30px;
  font-family: 'Russo One', sans-serif;
  font-size: 15px;

}

.but-slid {
  padding: 10px 50px;
  margin: 10px;
  font-family: 'Russo One', sans-serif;
  background-color: #101453;
  border-color: #ffffff2f;
}

.section2 {
  height: 170px;
  background-color: rgb(226, 225, 225);
}

.call-sec2 {
  margin-top: 40px;
  color: rgb(0, 79, 182);
}

.tipe-call {
  font-size: 22px;
  font-weight: 600;
  font-family: 'Russo One', sans-serif;
}

.tipe-call-2 {
  font-size: 17px;
}

.line-s2 {
  text-align: center;
  border-top: 3px solid black;
  height: 2px;
  max-width: 300px;
  margin: 20px auto 0 auto;
}

.section3 {
  width: 100%;
  height: 420px;
  background-color: rgb(255, 255, 255);
}

.box {
  width: 90%;
  height: 300px;
  margin-top: 60px;
  object-fit: cover;
  box-shadow: 0px 0px 30px 5px rgb(20, 20, 20);
}

.bloq-s3 {
  display: block;
  background-color: rgb(0, 79, 182);
  position: relative;
  padding: 10px;
  width: 70%;
  margin-right: 60px;
  bottom: 35px;
  border-radius: 0.2cm;
  color: aliceblue;
  font-family: 'Russo One', sans-serif;
  text-decoration: none;
}

.section4 {
  width: 100%;
  height: 350px;
  background-color: rgb(226, 225, 225);
}

.tit1 {
  margin-top: 75px;
  font-size: 25px;
  font-family: 'Russo One', sans-serif;
  text-align: left;
}

.tit2 {
  margin-top: 40px;
  font-size: 17px;
  text-align: left;
  font-family: 'Russo One', sans-serif;
}

.tit3 {
  margin-top: 20px;
  font-size: 17px;
  font-family: 'Russo One', sans-serif;
  text-align: left;
}

.cod-QR {
  margin-top: 50px;
  width: 150px;
  padding: 5px;
  background-color: rgb(94, 94, 94);
}

.icons-tarj {
  margin-top: 10px;
  width: 100%;
  height: 90px;
  display: block;
}

.section5 {
  background-color: rgb(255, 255, 255);
  height: 250px;
  text-align: center;
}

.marks {
  position: relative;
  top: 25px;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-family: 'Russo One', sans-serif;
}

.sectionfooter {
  background: linear-gradient(rgb(0, 0, 15), rgb(7, 1, 83));
  height: 350px;
}

.b-tittle-div {
  background-color: rgb(0, 79, 182);
  margin: 30px 0px;
}

.b-tittle {
  font-family: 'Russo One', sans-serif;
  font-size: 19px;
  color: white;
  margin-left: 20px;
  text-align: left;
}

.in-foot {
  text-align: left;
  color: white;
}

.menu-f {
  display: block;
  text-decoration: none;
  text-align: left;
  font-family: 'Russo One', sans-serif;
  font-size: 15px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
}

.googlemaps {
  position: relative;
  height: 200px;
  width: 100%;
}

/*----------     PAGINA DE OFERTAS     ----------*/

.section-car {
  height: 100px;
  background-color: #636363;
}

.d-car-s {
  text-align: right;
  position: relative;
  top: 35px;
}

.buttom-car-s {
  background-color: #c0c0c0;
  text-decoration: none;
  padding: 10px 50px;
  box-shadow: 0px 0px 0px 2px rgb(10, 10, 10);
  font-size: 18px;
}

.section-prod {
  height: 650px;
}

.sec-oferts {
  margin-top: 30px;
  width: 100%;
  text-align: left;
}

.div-cards {
  padding: 20px;
}

/*----------     PAGINA DE SERVICIOS TECNICOS     ----------*/

.serv-section {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 420px 400px 180px 400px;
  grid-template-areas:
    "info-grid info-grid info-grid"
    "caja caja caja"
    "info-grid2 info-grid2 info-grid2"
    "caja2 caja2 caja2";
}

.info-serv {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imagenes/serv-tec-esp.jpg);
  background-size: cover;
  background-attachment: fixed;
  grid-area: info-grid;
  text-align: center;
}

.tittle-serv {
  font-family: 'Russo One', sans-serif;
  font-size: 28px;
  margin-top: 30px;
  color: white;
}

.text-serv {
  line-height: 30px;
  margin: 10%;
  margin-top: 30px;
  font-size: 15px;
  font-weight: 600;
  color: white;
}

.caj-serv {
  background: linear-gradient(rgb(0, 0, 51), rgb(70, 70, 70));
  grid-area: caja;
  padding: 20px;
}

.boxes-cent {
  margin-top: 70px;
}

.info-serv-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imagenes/serv-tec-esp.jpg);
  background-size: cover;
  background-attachment: fixed;
  grid-area: info-grid2;
  text-align: center;
}

.caj-serv-2 {
  background: linear-gradient(rgb(0, 0, 51), rgb(70, 70, 70));
  grid-area: caja2;
  display: flex;
  justify-content: space-around;
}

/*----------     PAGINA DE ATENCION AL CLIENTE     ----------*/

.at-seccion {
  width: 100%;
  background-color: black;
  color: white;
  padding: 50px;
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.at-seccion2 {
  padding: 100px;
  width: 100%;
  text-align: center;
}

/*----------     PAGINA DE REGISTRO     ----------*/

.form-register {
  width: 1000px;
  background-color: rgb(5, 0, 49);
  padding: 40px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 4px;
  font-family: 'Calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 25px;
  margin-bottom: 30px;
  margin-left: 60px;
}

.controls {
  width: 40%;
  background-color: rgb(5, 0, 59);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-left: 60px;
  border: 1px solid blue;
  font-family: 'Calibri';
  font-size: 15px;
}

.botons {
  width: 40%;
  background-color: rgb(24, 0, 133);
  border: 1px solid rgb(192, 192, 192);
  padding: 12px;
  margin-left: 60px;
  color: white;
}

/*----------     MEDIA QUERIES CELULAR     ----------*/

@media only screen and (max-width:375px) {}