/*----------     Atencion al cliente     ----------*/

.at-seccion {
    width: 100%;
    background-color: black;
    color: white;
    padding: 50px;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.at-seccion2 {
    padding: 100px;
    width: 100%;
    text-align: center;
}