/*----------     Index     ----------*/

.image-car {
    height: 350px;
    object-fit: cover;

    .text-car {
        text-align: center;
        top: 2cm;
    }

    .text-car-2 {
        top: 2cm;
        text-align: left;
    }

    .info1-slider {
        font-family: 'Russo One', sans-serif;
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 2px;
    }

    .info2-slider {
        margin-top: 30px;
        font-family: 'Russo One', sans-serif;
        font-size: 15px;
    }

    .but-slid {
        padding: 10px 50px;
        margin: 10px;
        font-family: 'Russo One', sans-serif;
        background-color: #101453;
        border-color: #ffffff2f;
    }
}

.section2 {
    height: 170px;
    background-color: rgb(226, 225, 225);

    .call-sec2 {
        margin-top: 40px;
        color: rgb(0, 79, 182);

        .tipe-call {
            font-size: 22px;
            font-weight: 600;
            font-family: 'Russo One', sans-serif;
        }

        .tipe-call-2 {
            font-size: 17px;
        }

        .line-s2 {
            text-align: center;
            border-top: 3px solid black;
            height: 2px;
            max-width: 300px;
            margin: 20px auto 0 auto;
        }
    }
}

.section3 {
    width: 100%;
    height: 420px;
    background-color: rgb(255, 255, 255);

    .box {
        width: 90%;
        height: 300px;
        margin-top: 60px;
        object-fit: cover;
        box-shadow: 0px 0px 30px 5px rgb(20, 20, 20);
    }

    .bloq-s3 {
        display: block;
        background-color: rgb(0, 79, 182);
        position: relative;
        padding: 10px;
        width: 70%;
        margin-right: 60px;
        bottom: 35px;
        border-radius: 0.2cm;
        color: aliceblue;
        font-family: 'Russo One', sans-serif;
        text-decoration: none;
    }
}

.section4 {
    width: 100%;
    height: 350px;
    background-color: rgb(226, 225, 225);

    .tit1 {
        margin-top: 75px;
        font-size: 25px;
        font-family: 'Russo One', sans-serif;
        text-align: left;
    }

    .tit2 {
        margin-top: 40px;
        font-size: 17px;
        text-align: left;
        font-family: 'Russo One', sans-serif;
    }

    .tit3 {
        margin-top: 20px;
        font-size: 17px;
        font-family: 'Russo One', sans-serif;
        text-align: left;
    }

    .cod-QR {
        margin-top: 50px;
        width: 150px;
        padding: 5px;
        background-color: rgb(94, 94, 94);
    }

    .icons-tarj {
        margin-top: 10px;
        width: 100%;
        height: 90px;
        display: block;
    }
}

.section5 {
    background-color: rgb(255, 255, 255);
    height: 250px;
    text-align: center;

    .marks {
        position: relative;
        top: 25px;
        color: rgb(0, 0, 0);
        font-size: 30px;
        font-family: 'Russo One', sans-serif;
    }
}