/*----------     Ofertas     ----------*/

.section-car {
    height: 100px;
    background-color: #636363;

    .d-car-s {
        text-align: right;
        position: relative;
        top: 35px;

        .buttom-car-s {
            background-color: #c0c0c0;
            text-decoration: none;
            padding: 10px 50px;
            box-shadow: 0px 0px 0px 2px rgb(10, 10, 10);
            font-size: 18px;
        }

        .buttom-car-s:hover {
            box-shadow: 0px 0px 0px 2px rgb(131, 131, 131);
        }
    }
}

.section-prod {
    height: 650px;

    .row-ofert {
        .div-cards {
            padding: 20px;

            .sec-oferts {
                margin-top: 30px;
                width: 100%;
                text-align: left;
            }
        }

        @media screen and (max-width: 450px) {
            display: block;
        }
    }

    @media screen and (max-width: 450px) {
        height: auto;
    }
}